@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --cv-padding-y: 20px;
  --cv-avatar-height: 250px;
  --cv-link-height: 100px;

  --bg-base: linear-gradient(
    159deg,
    rgba(37, 37, 50, 0.98) 0%,
    rgba(35, 35, 45, 0.98) 100%
  );
}

body {
  font-family: "Poppins", sans-serif;
}

img {
  display: inline-block;
}
/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}


.bg-color-base {
  background: var(--bg-base);
}
